* {
    box-sizing: border-box;
}

body {
    background-color: #041631;
    margin: 0;
}

#navbar-logo {
    z-index: 1;
    margin: 0 25px;
    width: 50px;
    height: 50px;
}

.nav-container {
    position: fixed;
    background-color: #020c1b;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
}

#nav-links {
    display: flex;
    justify-content: flex-end;
}

nav li, a {
    display: inline;
    text-decoration: none;
    font-family: "Numans", sans-serif;
    color: #64ffda;
    margin: 0.5em;
    font-size: 20px;
}

nav li, a:hover {
    color: #ffd580;
}

.hero {
    background-image: url('../images/beach-ge4f0a68b1_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #041631;
    width: 100%;
    color: white;
    font-family: "Numans", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.leftside {
    position: absolute;
}

.leftside li {
    list-style-type: none;
    display: inline;
}

.leftside li i {
    padding: 20px;
    font-size: 30px;
    color: #64ffda;
}

.leftside li i:hover {
    color: #ffd580;
}

.about {
    height: 800px;
    border-top: 1px solid white;
    padding-top: 1.5em;
}

.about-me {
    text-align: center;
    color: #64ffda;
    font-family: "Numans", sans-serif;
    padding: 2em;
}

#about-me-photo {
    border: 5px solid #64ffda;
    border-radius: 20%;
    width: 12em;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.contact-me {
    text-align: center;
    color: #64ffda;
    font-family: "Numans", sans-serif;
    font-size: 1.5em;
    padding: 0 1em;
}

.say-hi-btn {
    background-color: transparent;
    border: 2px solid #64ffda;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
  }

 .say-hi-btn:hover {
    background-color: #64ffda;
    color: #171c28;
    cursor: pointer;
}

.footer {
    background-color: #020c1b;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #64ffda;
    margin-top: 7em;
}

@media only screen and (max-width: 480px) {
    #nav-links {
        display: none;
    }
}