/** TAG SELECTORS **/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    font-family: "Numans", sans-serif;
    background-color: #020c1b;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

p {
    line-height: 1.2;
    color: #64ffda;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Navbar */
.navbar {
    background-color: transparent;
    transition: 0.75s ease;
}

.navbar.scrolled {
    background-color: #020c1b;
}

.navbar li a {
    color: #fff;
    font-size: 20px;
    margin: auto 10px;
}

.navbar li a:hover {
    color: #ffd580;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

/* Hero Section */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/beach.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
}

.hero-title {
    font-size: 50px;
    margin: 15px;
}

.fa-angle-down {
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.fa-angle-down:hover {
    color: #ffd580;
}

/* About */
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}

.profile-photo {
    justify-self: center;
    align-self: center;
}

/* Skills */
.skill-logos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-logo {
    margin: 20px;
    font-size: 30px;
}

.skill-logo:hover {
    color: #ffd580;
    transition: all 120ms ease-in-out 120ms;
    transform: scale(1.5);
}

/* Projects */
.projects-grid {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

.project-link {
    color:#ffd580;
    text-decoration: none;
}

.project-link:hover {
    color:#ffd580;
    text-decoration: underline;
}

.projects-card {
    text-align: center;
    border-color: #64ffda;
    border-radius: 20px;
    border-style: solid;
    padding: 15px;
    position: relative;
}

.project-card-link {
    position: absolute;
    bottom: 0;
}

.technology-used {
    margin-bottom: 90px;
}

.technology-used .technology-used-item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #64ffda;
    border: 1px solid #64ffda;
    background: 0 0;
    margin-bottom: 1em;
}

/* Buttons */
.btn {
    background-color: transparent;
    border: 2px solid #64ffda;
    border-radius: 5px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
  }

 .btn:hover {
    background-color: #64ffda;
    color: #171c28;
    cursor: pointer;
    text-decoration: none;
}

/* Footer */
.copyright {
    color: #64ffda;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.social-icon {
    color:#64ffda;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

.social-icon:hover {
    color:#ffd580;
}

.social-icon-wrapper {
    display: inline-block;
}

/* Media */
@media screen and (max-width: 1280px) {
    .navbar {
        background-color: #020c1b;
        transition: 0.75s ease;
    }
    
    .hero-container {
        background-attachment: local;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-card-link {
        position: static;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        padding: 20px;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-card-link {
        position: static;
    }
}