/** TAG SELECTORS **/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    color: #64ffda;
    font-family: "Numans", sans-serif;
}

hr {
    margin: 100px auto;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    background-color: transparent;
    transition: 0.75s ease;
}

.navbar.scrolled {
    background-color: #020c1b;
}

.navbar li a {
    color: #fff;
    font-size: 1.2rem;
    margin: auto 0.5rem;
}

.navbar li a:hover {
    color: #ffd580;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

/* Hero Section */
.subtitle-text {
    font-size: 1.5rem;
}

.fa-angle-down {
    margin-top: 15rem;
    font-size: 2rem;
    color: #fff;
}

.fa-angle-down:hover {
    color: #ffd580;
}

/* Skills */
.skill-logo {
    margin: 1% 1%;
    font-size: 2rem;
}

.skill-logo:hover {
    color: #ffd580;
    transition: all 120ms ease-in-out 120ms;
    transform: scale(1.5);
}

/* Projects */
.project-link {
    color:#ffd580;
    text-decoration: none;
}

.project-link:hover {
    color:#ffd580;
    text-decoration: underline;
}

.project-description {
    line-height: 2;
}

.projects-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.project-hr {
    border: dotted whitesmoke 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

/* Containers */
.top-container {
    background-image: url('../images/beach.jpg');
    background-attachment: fixed;
    background-color: #041631;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    position: relative;
    padding-top: 15rem;
    color: white;
}

.middle-container {
    background-color: #041631;
    padding: 100px 0;
}

.bottom-container {
    background-color: #020c1b;
    padding: 50px 0 20px; 
}

/* Miscellaneous */
.intro {
    width: 30%;
    margin: 40px auto 60px;
    line-height: 2;
}

.technology-used .technology-used-item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: "Numans", sans-serif;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #64ffda;
    border: 1px solid #64ffda;
    background: 0 0;
    margin-bottom: 1em;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px;
}

/* Buttons */
.btn {
    background-color: transparent;
    border: 2px solid #64ffda;
    border-radius: 5px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
  }

 .btn:hover {
    background-color: #64ffda;
    color: #171c28;
    cursor: pointer;
    text-decoration: none;
}



/* Footer */
.social-icon {
    color:#64ffda;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

.social-icon:hover {
    color:#ffd580;
}

.copyright {
    color: #64ffda;
    font-size: 0.75rem;
    padding: 20px 0;
}

/* Media */
@media screen and (max-width: 1280px) {
    .navbar {
        background-color: #020c1b;
        transition: 0.75s ease;
    }
    
    .top-container {
        background-attachment: local;
        height: 100vh;
    }

    .intro {
        width: 70%;
        margin: 40px auto 60px;
        text-align: center;
    }

    .fa-angle-down {
        margin-top: 5rem;
    }

    .projects-row {
        text-align: center;
    }

    .contact-message {
        width: 70%;
        margin: 40px auto 60px;
        text-align: center;
    }

    .skill-logo {
        margin: 1% 1%;
        font-size: 2rem;
    }
}